/*main layout*/

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background-color: #333;
  color: #fff;
  transition: width 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar:hover {
  width: 270px;
}

.sidebar-header {
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-list li {
  padding: 10px;
  text-align: center;
}

.sidebar-list a {
  text-decoration: none;
  color: #ffd1e3;
  display: flex;
  align-items: center;
}

.sidebar-list a i {
  margin-right: 15px;
}

.sidebar-text {
  display: none;
  margin-left: 10px;
}

.sidebar:hover .sidebar-text {
  display: inline-block;
}

.top-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

.circle-button svg {
  max-width: 65%;
}

.content {
  flex: 1;
  padding: 20px;
}

h1{
  text-align: center;
}

/* ----------------------------------- MAIN LAYOUT END ----------------------------------*/

/* ----------------------------------- ABOUT US START ----------------------------------*/

.profile-cards {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  background-color: #333;
  border: 1px solid #ffd1e3;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}

.card img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card h2 {
  color: #a367b1;
}

.card p {
  color: #ffd1e3;
}

.contact-info {
  background-color: #333;
  border: 1px solid #ffd1e3;
  border-radius: 8px;
  padding: 20px;
}

.contact-info h2 {
  color: #a367b1;
}

.contact-info p {
  color: #ffd1e3;
}