/* ----------------------------------- MAIN LAYOUT START ----------------------------------*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.85;
  z-index: -1;
}

h1, h2, h3 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #ffd1e3;
  text-align: center;
  display: inline-block;
  background-color: #333;
  border: 2px solid #a367b1;
  border-radius: 8px;
  padding: 10px;
  margin-left: 80px;
}

h2, h3{
  color: #a367b1;
}

h2 {
  color: black;
}

p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background-color: #333;
  color: #ffd1e3;
  transition: width 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
}

.sidebar:hover {
  width: 270px;
}

.sidebar-header {
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.company-logo {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-list li {
  padding: 10px;
  text-align: center;
}

.sidebar-list a {
  text-decoration: none;
  color: #ffd1e3;
  display: flex;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar-list a i {
  margin-right: 15px;
}

.sidebar-text {
  display: none;
  margin-left: 10px;
}

.sidebar:hover .sidebar-text {
  display: inline-block;
}

.top-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

.circle-button svg {
  max-width: 65%;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 60px;
}

h1{
  text-align: center;
}
/* ----------------------------------- MAIN LAYOUT END ----------------------------------*/

/* ----------------------------------- LOGIN PAGE START ----------------------------------*/
.login-container{
  background-color: #a367b1;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: auto;
  text-align: center;
}

.login-container img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  margin: 10px 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

.login-button {
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: #333;
  color: #ffd1e3;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* ----------------------------------- LOGIN PAGE END ----------------------------------*/

/* ----------------------------------- HOME PAGE START ----------------------------------*/
.home-info {
  background-color: #a367b1;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
}

#sketchfab-embed {
  position: relative;
  z-index: 1;
}

.home-btn {
  background-color: #333;
  color: #ffd1e3;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

/* ----------------------------------- HOME PAGE END ----------------------------------*/

/* ----------------------------------- POINTS SHOP START ----------------------------------*/
.shop-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

#points-display {
  color: #ffd1e3;
  text-align: center;
  display: block;
  background-color: #333;
  border: 2px solid #a367b1;
  border-radius: 8px;
  padding: 10px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shop-btn {
  background-color: #333;
  color: #ffd1e3;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
/* ----------------------------------- POINTS SHOP END ----------------------------------*/

/* ----------------------------------- ABOUT US START ----------------------------------*/
.profile-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

/* cards used in: about us, points shop, profile page */
.card {
  background-color: #a367b1;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
}

.card img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* cards used in: about us, points shop, profile page */

.contact-info {
  background-color: #a367b1;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
}
/* ----------------------------------- ABOUT US END ----------------------------------*/

/* ----------------------------------- TRIVIA START ----------------------------------*/
#game-container {
  background-color: #a367b1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

#question-container {
  margin-bottom: 20px;
}

#options-container {
  display: flex;
  flex-direction: column;
}

#options-container button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #ffd1e3;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#options-container button:hover {
  background-color: #392467;
}

#next-button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #ffd1e3;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#next-button:hover {
  background-color: #392467;
}
/* ----------------------------------- TRIVIA END ----------------------------------*/

/* ----------------------------------- CART PAGE START ----------------------------------*/
#cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#merch-card-container {
  margin: 20px; 
}

.cart-btn {
  background-color: #333;
  color: #ffd1e3;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
/* ----------------------------------- CART PAGE END ----------------------------------*/